{% extends 'layout/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}Вход{% endblock %}

{% block content %}

    <section class="d-flex align-items-center py-5">
        <div class="form-signin w-100 m-auto py-5" style="max-width: 350px;">
            <form class="py-5" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Введите логин и пароль</h1>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="{{ form.username.field.widget.input_type }}" name="{{ form.username.name }}"
                           id="{{ form.username.id_for_label }}" class="form-control" placeholder=""
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                    {% if form.username.errors %}
                        <small class="text-danger">{{ form.username.errors.0 }}</small>
                    {% endif %}
                    <label for="id_username">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="{{ form.password.field.widget.input_type }}" name="{{ form.password.name }}"
                           id="{{ form.password.id_for_label }}" class="form-control" value="" placeholder="">
                    {% if form.password.errors %}
                        <small class="text-danger">{{ form.password.errors.0 }}</small>
                    {% endif %}
                    <label for="id_password">Пароль</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
            </form>
        </div>
    </section>

{% endblock %}