{% extends 'layout/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}{{ artist.nick_name }}{% endblock %}

{% block content %}

<h1 class="mt-5">{{ artist.nick_name }}
    {% if artist.first_name %}
        {{ artist.first_name }}
    {% endif %}
    {% if artist.sur_name %}
        {{ artist.sur_name }}
    {% endif %}
    {% if artist.last_name %}
        {{ artist.last_name }}
    {% endif %}
</h1>

{% if artist.bio %}
    <div>{{ artist.bio|safe }}</div>
{% endif %}

{% endblock %}