{% extends 'layout/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}Артисты{% endblock %}

{% block content %}
    <h1 class="mt-5">Артисты: (всего: {{ page_obj.paginator.count }})</h1>

    <table class="table table-sm table-striped table-hover">
        <thead>
        <tr class="table-dark">
            <th scope="col" class="ps-3">№</th>
            <th scope="col">Артист</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artist_list %}
            <tr>
                <th scope="row" class="ps-3">{{ forloop.counter0|add:page_obj.start_index }}</th>
                <td>
                    <a href="{{ artist.get_absolute_url }}">
                        <strong>{{ artist.nick_name }}</strong>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% include 'inc/inc_pagination.html' %}
    
{% endblock %}