{% extends 'layout/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}Главная{% endblock %}

{% block content %}
    
    <h1 class="mt-5 mb-3">Каталог песен (всего: {{ song_list.all.count }})</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr class="table-dark">
            <th scope="col">№</th>
            <th scope="col">Песня</th>
            <th scope="col">Исполнители</th>
            <th scope="col">Ссылки</th>
        </tr>
        </thead>
        <tbody>
        {% for song in song_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{{ song.get_absolute_url }}">
                        <strong>{{ song.title }}</strong>
                    </a>
                </td>
                <td>
                    {% if song.performer_order %}
                        {% for performer_id in song.performer_order %}
                            {% for performer in song.performers.all %}{% if forloop.counter == performer_id %}
                                <a href="{{ performer.get_absolute_url }}">
                                    {{ performer.nick_name }}</a>{% endif %}{% endfor %}{% if not forloop.last %},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for performer in song.performers.all %}
                            <a href="{{ performer.get_absolute_url }}">
                                {{ performer.nick_name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% for link in song.links.all %}
                        <a href="{{ link.url }}" target="_blank">
                            {% with ld=link.description|lower|default:'' %}
                                {% if ld == 'youtube' %}
                                    <i class="bi bi-youtube fs-6"></i>{% elif ld == 'vk' %}
                                    <i class="bi bi-play-circle-fill bi-vk"></i>{% elif ld in '["ya", "yandex"]' %}
                                    <i class="bi bi-play-circle-fill bi-ya"></i>
                                {% else %}
                                    {{ link.description }}
                                {% endif %}{% endwith %}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}