{% extends 'layout/base.html' %}
{% load static %}
{% load main_tags %}

{% block title %}{{ song.title }}{% endblock %}

{% block content %}

<h1 class="mt-5">{{ song.title }}</h1>

{% if song.year %}
    <div><strong>Год:</strong> {{ song.year }} год</div>
{% endif %}

{% if song.bpm %}
    <div><strong>Темп:</strong> {{ song.bpm }} bpm</div>
{% endif %}

<div>
    {% for performer in song.performers.all %}
        <strong><a href="{{ performer.get_absolute_url }}">{{ performer }}</a></strong>{% if not forloop.last %},
        {% endif %}
    {% endfor %}
</div>

{% if song.key %}
    <div><strong>Тональность:</strong> {{ song.key }}</div>
{% endif %}

{% if song.chords %}
    <div><strong>Аккорды:</strong> {{ song.chords }}</div>
{% endif %}

{% if song.additional %}
    <div>{{ song.additional|safe }}</div>
{% endif %}

{% if song.lyrics %}
    <div>{{ song.lyrics|safe }}</div>
{% endif %}

{% if song.links %}
    <div>
    <h5 class="mt-4">Ссылки:</h5>
        {% for link in song.links.all %}
            <a href="{{ link.url }}" target="_blank">{{ link.description|btn|safe }}</a>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}