<!DOCTYPE html>
{% load static %}
{% load main_tags %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог песен: {% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>

{% include 'inc/inc_top_menu.html' %}

<main class="flex-shrink-0">
    <div class="container pt-60">
        {% block content %}
        {% endblock %}
    </div>
</main>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

{% block js %}
{% endblock %}

</body>
</html>